.footer {
  background-color: #000000;
  user-select: none;
  padding: 70px;
}
.heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
}
.h1Span {
  color: #e29ae3;
}
.img {
  width: 480px;
  height: 480px;
}
.serviceHeading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #e29ae3;
}
.para {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-right: 38px;
}

.iconPara {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
}
.iconImg {
  width: 60px;
  height: 60px;
  background-color: #7443ff;
  padding: 13px;
  border-radius: 50%;
}
.form input[type="email"] {
  color: #ffffff;
  background-color: #000000;
  border: none;
  box-shadow: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.form input[type="email"]::placeholder {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.form input[type="email"]:focus {
  box-shadow: none;
  border: none;
}
.arrowIconButton {
  background-color: transparent;
}
.arrowIcon {
  width: 52px;
}
.inputContainer {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  box-shadow: 0 1px rgb(255, 255, 255);
}
.ul {
  margin-top: 3vh;
}
.li {
  list-style: none;
}
.a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  overflow: hidden;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e29ae3;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}
.a:hover::after,
.a:focus::after {
  transform: translate3d(0, 0, 0);
  width: 100%;
  height: 0.1rem;
}
.a:hover {
  color:  #ffffff;
   /* text-decoration: underline 1.5px #e29ae3;
  text-underline-offset: 0.4rem;  */
}

@media (min-width: 992px) {
  .midCol {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .footer {
    padding: 50px;
  }
}
@media (max-width: 778px) {
  .footer {
    padding: 40px;
  }
  .heading {
    font-size: 40px;
    line-height: 41px;
  }
  .iconImg {
    width: 45px;
    height: 45px;
    padding: 8px;
  }
}
@media (min-width: 576px) {
  .iconCol {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 20px;
  }
  .heading {
    font-size: 30px;
  }
  .iconCol {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
  }
}
